:root {
  /* 
      FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
      COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
      TOGETHER WILL MAKE UP A GIVEN THEME
  */
  --swatch-foundation:    #EEEEDD; /* USED FOR BODY BACKGROUND */
  --swatch-primary:       #E6E6E6; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
  --swatch-complement:    #E1E4CB; /* USED IN FORGROUND OF PRIMARY FOR TEXT AND BORDERS */
  --swatch_contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
  --swatch-accent:        #669966; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */    
  --my-font-family:          "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.home-prompt {
  text-align: center;
}

.home-text{
  font-size: xx-large;
  font-weight: bold;
  margin-top: 20px !important;
}

.nav-style{
  background: rgba(139, 138, 138, 0.609) !important;
  background-size: 400% 400% !important;
  animation: gradient 50s ease infinite !important;
  
  position: relative; /* Set the navbar to fixed position */
  width: 100%; /* Full width */
}

.navImg{
  margin-top: 5px !important;
}

.login-box{
  background: linear-gradient(-45deg, #23a2d5, rgb(251, 222, 168), pink) !important;
  background-size: 400% 400% !important;
  animation: gradient 15s ease infinite !important;
  box-sizing: border-box;
  border: black;
  border-style: ridge;
  border-radius: 10px;
  border-width: 3px;
}

.custom-card{
  width: 300px !important;
}
.custom-card-title{
  padding: 10px;
}

.theme-page {
  text-align: center;
  padding: 10px;
}

.theme-name{
  font-size: x-large;
  font-weight: bolder;
}

hr.line-one {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.line-one:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.small-card{
  height: 100px;
  width: 120px;
}

.your-char-div{
  display: inline-block;
}

.card-theme {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.287);
  transition: 0.3s;

  width: 100px; 
  height: 100px; 
  border: 3px solid;
  border-image: radial-gradient(white, black) 1;
  border-radius: 5px;
  background-image: linear-gradient(rgb(83, 83, 83), #c8c7c7);
  overflow: hidden;
}

/* On mouse-over, add a deeper shadow */
.card-theme:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container-card-theme {
  padding: 2px 16px;
  height: 100%;
  width: 100%;
}

.margin-button{
  margin-bottom: 10px;
}

.your-text{
  margin-top: 20px;
}







.a{color: #E7484F}
.b{color: #F68B1D}
.c{color: #FCED00}
.d{color: #009E4F}
.e{color: #00AAC3}
.f{color:  #732982}


.container{
  margin-top: 150px;
}

.text-center {
  text-align: center;
}




.custom-candidate-btn:focus{
  /* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top left, #707070 -50%, #FCFCFC 110.00000000000001%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top left, #707070 -50%, #FCFCFC 110.00000000000001%);

  /* Opera */ 
  background-image: -o-linear-gradient(top left, #707070 -50%, #FCFCFC 110.00000000000001%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(-.5, #707070), color-stop(1.1, #FCFCFC));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top left, #707070 -50%, #FCFCFC 110.00000000000001%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom right, #707070 -50%, #FCFCFC 110.00000000000001%);
}

.rainbow{
  background-color: #343A40;
  border-radius: 4px;  
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  
}

.rainbow-1:hover{
   background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 49%, rgb(0, 0, 0) 80%, rgb(255, 255, 255) 100%);
   animation:slidebg 5s linear infinite;
}

.rainbow-2:hover{
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  animation:slidebg 2s linear infinite;
}

.rainbow-3:hover{
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, red);
  animation:slidebg 2s linear infinite;
}

.rainbow-4:hover{
   background-image:     linear-gradient(
      to right, 
      #E7484F,
      #F68B1D, 
      #FCED00,
      #009E4F,
      #00AAC3,
      #732982
    );
  animation:slidebg 2s linear infinite;
}


.rainbow-5:hover{
   background-image:     linear-gradient(
      to right, 
      #E7484F,
      #E7484F 16.65%,
      #F68B1D 16.65%,
      #F68B1D 33.3%,
      #FCED00 33.3%,
      #FCED00 49.95%,
      #009E4F 49.95%,
      #009E4F 66.6%,
      #00AAC3 66.6%,
      #00AAC3 83.25%,
      #732982 83.25%,
      #732982 100%,
      #E7484F 100%
     
     
     
    );
  animation:slidebg 2s linear infinite;
}


@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

.follow{
  margin-top: 40px;
}

.follow a{
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

